/* Color palette */

// base color
$white: #ffffff;
$black: #000000;

// background color
$raisin-black: #232527;
$black-chocolate: #131415;
$charlestion-green: #242628;
$charlestion-green-1: #292A2B;
$charlestion-green-2: #292D32;
$jet: #2f2f2f;
$jet-1: #323232;
$ereie-black: #1d1e20;
$blue-jeans: #58bfff;
$lapis-lazili: #2669a8;

// text color 
$taupe-gray: #8B8B8B;
$corn: #FDF064;
$metallic-sunburst: #A18832;
$light-sky-blue: #7ED3F9;
$dodger-blue: #399FFF;
$fire-engine-red: #cb2525;
$carnation-pink: #FFA3B8;

// rgba color 
$white-06: rgba(255, 255, 255, 0.06);
$white-30: rgba(255, 255, 255, 0.3);
$white-48: rgba(255, 255, 255, 0.48);
$white-57: rgba(255,255,255,0.57);
$white-67: rgba(255,255,255,0.67);
$black-12: rgba(0, 0, 0, 0.12);
$black-14: rgba(0, 0, 0, 0.14);
$black-20: rgba(0, 0, 0, 0.2);
$black-25: rgba(0, 0, 0, 0.25);
$ereie-black-96: rgba(22, 23, 25, 0.96);
$fire-engine-red-50: rgba(203, 37, 37, 0.5);
$blue-jeans-15: rgba(88, 191, 255, 0.15);
$lapis-lazili-71 : rgba(38, 105, 168, 0.71);

// 底下為未使用色碼
$lavender-blush: #FFEDF7;
$midnight-blue: #003164;
$deep-pink: #FF4384;
$alice-blue: #E5F3FF; // #EBF5FB
$deep-sky-blue: #00A7FF;
$languid-labender: #D8D0E0;
$gray: #BFBFBF; // #B8BABF, #BABABA
$light-gray: #D6D6D6;
$cultured: #F4F4F4;
$anti-flash-white: #F0F0F0; // #f2f2f2
$isabelline:#f4f0ec; // #F2EFED, #EBEBEB, #eeeeee, #EDEDED
$liver: #73574D;
$shadow: #8C6F5E;
$tuscany: #BF9F93;
$polished-pine: #4FA896;
// NOTE payment color
$lavender: #D7E8F6;
$spanish-gray: #999999;
// $blue-jeans: #5CADE1; // #57C1E7
$jet: #333333;
$ghost-white: #FBFCFE;
$light-coral: #F48482;
// $alice-blue: #EBF5FB;

// NOTE Hotel color
$moss-green: #8C9A65;
$granite-gray: #666666;
$international-orange: #C41800;

// NOTE Chatroom color
$cultured: #F3F4F8; // #F8F8F8
$congo-pink: #FE7E80;
$black-olive: #404040;
$platinum: #E2E0E0; // #E5E5E5

// NOTE Clouddrive color
$gainsboro: #DEDEDE;
$snow: #fafafa;

// NOTE Markdown color
$timber-wolf: #d8d8d8;

// linear-gradient color
$pink-sherbet: #F78ca0;
$vivid-tangerine: #fe9a8b;
$blue-sapphire: #13547a;
$middle-blue-green: #80d0c7;
$davys-grey: #525252;
$dark-green: #001f1d;

// NOTE Chatroom linear-gradient color
$french-pink: #FD6895;
$congo-pink: #FE8A74;
$cameo-pink: #ebb8c3;
$baby-pink: #ebc2bb;

// NOTE Clouddrive linear-gradient color
$sonic-silver: #757575;
$silver: #c1c1c1;
$dark-medium-gray: #aaa;

// rgba color 
$white-20: rgba(255, 255, 255, 0.2);
$white-45: rgba(255, 255, 255, 0.45);
$white-60: rgba(255, 255, 255, 0.6);
$white-6: rgba(255,255,255,0.06);
$polished-pine-30: rgba(79, 168, 150, 0.3);

// NOTE payment rgba color 
$jet-20: rgba(51, 51, 51, 0.2);
$alice-blue-65: rgba(235, 245, 251, 0.65); 
$granite-gray-30: rgba(102, 102, 102, 0.3);

// chatroom rgba color 
$cultured-85: rgba(243, 244, 248, 0.85);

// markdown rgba color 
$black-16: rgba(0, 0, 0, 0.16); 